.mainLogin {
    width: 50%;
    text-align: center;
    margin: auto;
    form {
        margin: 2rem;
    }
    .userPage {
        margin: 1rem;
        .userPagePricipal {
            display: flex;
            flex-direction: column;
        }
        .userPageLinks {
            display: flex;
            justify-content: space-evenly;
            margin: 1rem;
        }
    }
}
