.misPropsTitle {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #4e4e4e;
    & h1,
    div {
        margin: 1rem;
    }
    & div {
        width: 25%;
    }
}

.propsView {
    display: flex;
    margin: 2rem;
    justify-content: space-evenly;
    .noProps-text {
        font-size: larger;
        color: #808080;
        margin: auto;
    }

    .datosPropiedad {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: max-content;
        height: max-content;
        border: solid #4c76ff;
        border-radius: 1rem;

        .datosPropiedadTitle {
            text-align: center;
            margin-bottom: 1rem;
            & img {
                border-radius: 1rem;
            }
        }
    }
}
